body{
    background-color: hsl(0, 0%, 98%);
    font-family: 'Poppins', sans-serif;
    font-size: 0.938rem;
    
}
.mainBody{
    display: grid;
    grid-template-columns: repeat(1,1fr);}
.mainCard{
    grid-column: span 4;
    justify-content: center;
    text-align: center;
    line-height: 1rem;
    }
.mainHeaderText{
    color: hsl(229, 6%, 66%);  
    font-weight: 400;
}
.mainHeaderTextS{
    color:hsl(234, 12%, 34%);
    font-weight: 600;
    
}
.mainSubText{
    color:hsl(229, 6%, 66%);
    font-weight: 200;
    margin: 0% 30%;
    margin-bottom: 2%;
    
}
.cards{
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 2;
    column-gap: 2rem;}
.supervisorCard{
    grid-column: span 1.5;
    grid-column-start: 1;
    grid-column-end:2;
    grid-row-start:  1 ;    
    grid-row-end: 3;
    margin-top: 30%;
    margin-bottom: 30%;
    background-color:white;
    border: 10px;
    border-radius: 5%;
    border-style: none;
    border-top-style: solid;
    border-top-color: hsl(180, 62%, 55%);
    padding-left: 10%;
    padding-right: 10%;
    box-shadow: 5px 5px #a3a5ae;
    
}
.supervisorHeaderText{
    color:hsl(234, 12%, 34%);
    font-weight: 600;
}
.supervisorHeaderText:hover{
    color:  hsl(180, 62%, 55%);
    font-weight: 400;}
.supervisorSubText{
    color:hsl(229, 6%, 66%);
    font-weight: 200;
    
}
.iconSupervisor{

    display: flex;
    margin-left: auto;
    }

.teamCard{
    grid-row-start:  1 ;    
    grid-row-end: 1;
    background-color:white;
    border: 10px;
    border-radius: 5%;
    border-style: none;
    border-top-style: solid;
    border-top-color:hsl(0, 78%, 62%) ;
    margin-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;
    box-shadow: 5px 5px #a3a5ae;
}
.teamHeaderText{
    color:hsl(234, 12%, 34%);
    font-weight: 600;
}
.teamHeaderText:hover{
    color:  hsl(0, 78%, 62%);
    font-weight: 600;
}
.teamSubText{
    color:hsl(229, 6%, 66%);
    font-weight: 200;
    
}
.iconTeam{    

    display: flex;
    margin-left: auto;}

.karmaCard{
    grid-column: span 2;
    background-color:white;
    border: 10px;
    border-radius: 5%;
    border-style: none;
    border-top-style: solid;
    border-top-color:  hsl(34, 97%, 64%);
    grid-column-start: 2;
    grid-column-end: 3;
    padding-left: 10%;
    padding-right: 10%;
    box-shadow: 5px 5px #a3a5ae;
}
.karmaHeaderText{
    color:hsl(234, 12%, 34%);
    font-weight: 600;
}
.karmaHeaderText:hover{
    color:  hsl(34, 97%, 64%);
    font-weight: 600;
}
.karmaSubText{
    color:hsl(229, 6%, 66%);
    font-weight: 200;
    
    
    
}
.iconKarma{

    display: flex;
    margin-left: auto;
}

.calculatorCard{
    grid-column: span 1.5;
    background-color:white;    
    border: 10px;
    border-radius: 5%;
    border-style: none;
    border-top-style: solid;
    border-top-color:  hsl(212, 86%, 64%);
    grid-column-start: 3;
    grid-column-end:4;
    grid-row-start:  1 ;    
    grid-row-end: 3;
    margin-top: 30%;
    margin-bottom: 30%;
    padding-left: 10%;
    padding-right: 10%;
    box-shadow: 5px 5px #a3a5ae;
}
.calculatorHeaderText{
    color:hsl(234, 12%, 34%);
    font-weight: 600;
}
.calculatorHeaderText:hover{
    color:  hsl(212, 86%, 64%);
    font-weight: 600;
}
.calculatorSubText{
    color:hsl(229, 6%, 66%);
    font-weight: 200;
    
}
.iconCalculator{
    display: flex;
    margin-left: auto;
    }

@media screen and (max-width:600px ){
    .mainBody{
        display: grid;
        grid-template-columns: repeat(1,1fr);}
        .mainCard{
            grid-column: span 1;
            grid-template-rows: 2;
            justify-content: center;
            text-align: center;
            align-items: center;
            line-height: 1rem;}
            .cards{
                display: grid;
                grid-template-columns: 1;
                grid-template-rows: 6;
                column-gap: 1rem;}
                .supervisorCard{
                    grid-column: span 1;
                    grid-column-start: 1;
                    grid-column-end:1;
                    grid-row-start:  1 ;    
                    grid-row-end: 1;
                    margin-top: 0%;
                    margin-bottom: 0%;
                    background-color:white;
                    border: 10px;
                    border-radius: 5%;
                    border-style: none;
                    border-top-style: solid;
                    border-top-color: hsl(180, 62%, 55%);
                    padding-left: 10%;
                    padding-right: 10%;
                    margin-bottom: 10%;
                    margin-top: 10%;
                    box-shadow: 5px 5px #a3a5ae;
                    
                }
                .teamCard{
                    grid-row-start:  2 ;    
                    grid-row-end:3;
                    background-color:white;
                    border: 10px;
                    border-radius: 5%;
                    border-style: none;
                    border-top-style: solid;
                    border-top-color:hsl(0, 78%, 62%) ;
                    margin-bottom: 10%;
                    padding-left: 10%;
                    padding-right: 10%;
                    box-shadow: 5px 5px #a3a5ae;
                }

                .karmaCard{
                    grid-column: span 1;
                    grid-row-start:  3 ;    
                    grid-column-end: 4;
                    background-color:white;
                    border: 10px;
                    border-radius: 5%;
                    border-style: none;
                    border-top-style: solid;
                    border-top-color:  hsl(34, 97%, 64%);
                    grid-column-start: 1;
                    grid-column-end: 2;
                    padding-left: 10%;
                    padding-right: 10%;
                    margin-bottom: 7%;
                    margin-top: 2%;
                    box-shadow: 5px 5px #a3a5ae;
                }
                .calculatorCard{
                    grid-column: span 1;
                    grid-row-start: 4 ;
                    grid-row-end: 5;    
                    grid-column-start: 1;
                    grid-column-end: 1;
                   
                    background-color:white;    
                    border: 10px;
                    border-radius: 5%;
                    border-style: none;
                    border-top-style: solid;
                    border-top-color:  hsl(212, 86%, 64%);
                    margin-bottom: 2%;
                    margin-top: 7%;
                    padding-right: 1px;
                    box-shadow: 5px 5px #a3a5ae;
                }
}